* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
  
body {
  font-family: "Montserrat", sans-serif;
}

::selection {
  background-color: #F0494C;
  color: white;
}
  
img {
  max-width: 100%;
  height: auto;
}
   
h1,
h2 {
  text-transform: uppercase;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;

}

input::placeholder,
textarea::placeholder {
  color: #fff;
}








  