$mainGreen: #82CC0E;

$mainBlue: #4CDAD8;

$mainRed: #F0494C;
$darkRed: #f03B51;
$lightRed: #fE4E59;

$titleBlack: #2d2d2d;
$titleWhite: #fff;
$titleBgColor: #f2f2f2f2;

$membershipBgColor: #fefcfd;

$testimonialBgColor: #f8f8f8;
$cardFooter: #fafbfb;

$footerBg: #2d2d2d;
$footerBgDark: #292929;

$scrollBtn: #252525;
$scrollBtnText: #d0d0d0;

$paraGrey: grey;
$paraBlack: #474747;

$menuBoxShadow: rgba(70, 80, 40, 0.30);

$bgOverlay: rgba(38, 52, 65, 0.65);

$bgOverlay-2: rgba(132, 20, 238, 0.65);




