.btn {
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 13px 13px;
    width: 11.5rem;
    line-height: 1.8em;
    letter-spacing: .1em;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    background-color: $mainRed;
    box-sizing: border-box;
    border: none;
    color: white;
    font-weight: 700;
    
    &--center {
        text-align: center;
    }

    &:hover {
        background-color: $darkRed;
        transition: 0.3s ease-in-out;
    }
    
    &--large {
        font-size: 0.8rem;
        text-transform: uppercase;
        border-radius: 30px;
        padding: 15px 35px;
        line-height: 2.5em;
        letter-spacing: .2em;
        cursor: pointer;
        font-family: Montserrat,sans-serif; 
        background-color: $mainRed;
        box-sizing: border-box;
        border: none;
        color: white;
        font-weight: 700;
        
        @mixin atSmall {
            padding: 20px 50px;
        }
    }

    &--training {
        font-size: 0.7rem;
        text-transform: uppercase;
        border-radius: 30px;
        padding: 13px 13px;
        width: 10rem;
        text-align: center;
        letter-spacing: .1em;
        cursor: pointer;
        font-family: Montserrat,sans-serif; 
        background-color: $mainRed;
        box-sizing: border-box;
        border: none;
        color: white;
        font-weight: 700;

        &:hover {
            background-color: $darkRed;
            transition: 0.3s ease-in-out;
        }
        
        @mixin atSmall {
            align-self: left;
        }

        

        &--center {
            padding-left: 10%;
    
            @mixin atSmall {
                text-align: left;
                padding-left: 13%;
            }
    
            @mixin atMedium {
                
                padding-left: 13%;
            }
    
            @mixin atLarge {
                padding-left: 0%;
                text-align: center;
            }  
        }
    }

    &--underline {
        display: inline-block;
        position: relative;
        color: white;
    }

    &--underline:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &--underline:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }   
}

.scroll {
    position: fixed;
    bottom: 70rem;
    right: 1.5rem;
    height: 4rem;
    width: 4rem;
    font-size: 0.8rem;
    letter-spacing: 0.15em;
    background-repeat: no-repeat;
    background-color: $scrollBtn;
    color: $scrollBtnText;
    font-weight: 500;
    background-size: contain;
    background-position: center;
    align-self: center;
    padding: 1rem;
    border-radius: 50%;
    z-index: 30;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);

    &__arrow {
        padding-left: 0.1rem;
    }
  
}
  
.active {
    visibility: visible;
    opacity: 1;
    bottom: 2rem;
}
